<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><%= link_to "Tasks", tasks_path %></li>
  <li class="active">Edit Task</li>
</ol>

<div class="col-sm-offset-2 col-sm-8">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editing Task</h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
